{% extends "base.html" %}
{% block title %}| My Blog{% endblock %}
{% block content %}
<div class="container">
    <div class="blog-entry-list">
        {% for post in posts %}
        <div class="blog-entry">
            <h4 class="blog-entry-title"><a href="post/{{post.key().id()}}">{{post.title}}</a></h4>
            <p class="blog-entry-text">{{post.content[:300]}}</p>
            <ul class="stats">
                {% if post.likes != None and post.likes != 0 %}
                <li class="like"><i class="fa fa-heart-o"></i> {{post.likes}}</li>
                {% endif %}
                {% if post.comments > 0 %}
                <li><i class="fa fa-comment-o"></i> {{post.comments}}</li>
                {% endif %}
                <li class="right date"><a href="post/{{post.key().id()}}"><i class="fa fa-calendar"></i> {{date}}</a>
                </li>
            </ul>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
