{% extends "base.html" %}
{% block title %}| Blog{% endblock %}
{% block content %}
<div class="container">
    <div class="blog-entry-list">
        {% for post in posts %}
        <div class="blog-entry">
            <h5 class="blog-creation-date">{{date}}</h5>
            <h4 class="blog-entry-title"><a href="post/{{post.key().id()}}">{{post.title}}</a></h4>
            <p class="blog-entry-text">{{ post.content[:500] }}</p>
            <ul class="stats">
                {% if post.likes != None and post.likes != 0 %}
                <li class="like"><i class="fa fa-heart-o"></i> {{post.likes}}</li>
                {% endif %}
                {% if post.comments > 0 %}
                <li><i class="fa fa-comment-o"></i> {{post.comments}}</li>
                {% endif %}
            </ul>
            <br>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
