{% extends "base.html" %}

{% block content %}

<section id="intro" data-speed="12" data-type="background">
    <div class="container">
        <div class="intro-unit">
            <h1>Hello!</h1>
            <p>Welcome to my Website</p>
        </div>
    </div>
</section>

<section id="about1" data-speed="2" data-type="background">
    <div class="container">
        <div class="page-header">
            <h1>About Me</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Welcome to my website. Here you’ll get to know about my work, projects and my story. So let me start
                    by telling something about me.</p>
                <p>I’ve been curious about computers and technologies since I first played video games with my cousin on
                    his Commodore 64. In an effort to learn more about computers and technologies, I joined the U.S.
                    Army as a 29V (Microwave Systems Operator and Repairer). Unfortunately, I was unable to learn much
                    about computers and network systems. However, I learned a lot about telecommunication systems.</p>
                <p>After the military, I returned to school and earned a Bachelor of Science in Industrial Engineering
                    from the University of Washington in Seattle, WA, and a Master of Science in Systems Engineering
                    from the George Washington University in Washington, DC. I returned to the Department of Defense
                    as a contractor in software systems engineering.</p>
                <p>In my spare time, I continue to learn different technologies that benefit me both at work and at
                    school (Doctor of Engineering Program in Engineering Management). I’m very passionate in new web
                    technologies (i.e., Cloudera Hadoop with MapReduce, Docker, and Amazon Web Services) and try to
                    implement them in my projects. I’m also interested in data science (i.e., Python and R), and machine
                    learning. Browse my website to know more about me. Thank you.</p>
            </div>
        </div>
    </div>
</section>

<section id="kids2" data-speed="6" data-type="background">

</section>

<section id="about2" data-speed="2" data-type="background">
    <div class="container">
        <div class="page-header">
            <h1>Specialties</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2>Systems Analysis, Design & Development</h2>
                <p>Provide analysis, design, testing, implementation and support for longitudinal clinical research,
                    military accessions, and medical situational awareness common operating picture applications for
                    various military agencies.</p>
            </div>
            <div class="col-lg-4">
                <h2>Systems Architecture</h2>
                <p>Utilize tools (e.g., IBM Rational System Architect, Sparx Systems Enterprise Architect) to design and
                    communicate an architecture that reflects and balances the different needs of its stakeholders.</p>
            </div>
            <div class="col-lg-4">
                <h2>Technical Planning & Management</h2>
                <p>Oversee the technical work of project administrators, their project teams, and task order leads.
                    Provide communications to client and contractor leadership regarding work being proposed or
                    performed, productivity, process improvements, and status. Responsible for the conduct and content
                    of technical program/project reviews to the client.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}